<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Title
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/fonts.css")
		script(type="text/javascript", src="js/script.js")

		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic,800,300,400italic,600,800italic,700italic,600italic' rel='stylesheet' type='text/css')
	body
		block content
		
		

