font-url(file)
  return '../fonts/' + file
 
webfont(family, file,  weight = 'normal', style =' normal')
  @font-face
    font-family family
    src url(font-url(file + '.eot'))
    src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url(file + '.woff')) format('woff'), 
        url(font-url(file + '.ttf')) format('truetype'), 
        url(font-url(file + '.svg#'+ family)) format('svg')
    font-weight weight
    font-style style
  




webfont('HelveticaNeueLTStd', 'HelveticaNeueLTStd',  normal, normal)
webfont('Raleway-Heavy', 'Raleway-Heavy.ttf',  normal, normal)





