extends block/layout.jade
block content
	.page
		include block/header
		.content
			.about
				.about__container.container
					.about__image

					.about__new
						.about-block
							.about-block__item
								.text-list
									ul
										li.text-list__item
											.title
												.title__item.title__item_dark Start something new
										li.text-list__item
											.text
												.text__item.text__item_dark Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

										li.text-list__item
											.text
												.text__item.text__item_dark  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										li.text-list__item
											.text
												.text__item.text__item_dark  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							.about-block__item.about-block__item_left
								.text-list
									ul
										
										li.text-list__item
											.text
												.text__item.text__item_dark Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

										li.text-list__item
											.text
												.text__item.text__item_dark  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										
					.about__box
						.box
							.box__top
								.box-block
									ul
										li.box-block__list
											.square
												.square__title
													.title
														.title__item Design quality
												.square__text
													.text
														.text__item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .labore et dolore magna aliqua. Ut enim ad minim 

												.square__link
													a.link(href="#") Find Out more
										li.box-block__list
											.square.square_purple
												.square__title
													.title
														.title__item Design quality
												.square__text
													.text
														.text__item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .labore et dolore magna aliqua. Ut enim ad minim 

												.square__link
													a.link(href="#") Find Out more
										li.box-block__list
											.square.square_client
												.square__title
													.title
														.title__item Design quality
												.square__text
													.text
														.text__item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .labore et dolore magna aliqua. Ut enim ad minim 

												.square__link
													a.link(href="#") Find Out more
														

							.box__bottom
								.box-block
									ul
										li.box-block__list.box-block__list_big
											.square.square_big
												.square__title
													.title
														.title__item Design quality
												.square__text.square__text_wider
													.text
														.text__item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .labore et dolore magna aliqua. Ut enim ad minim 

												.square__link
													a.link(href="#") Find Out more
										li.box-block__list
											.square.square_pic
												.square__title
													.title
														.title__item Design quality
												.square__text
													.text
														.text__item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
												.square__link
													a.link(href="#") Find Out more
										
					.about__detail
						.detail
							.detail__title
								.title
									.title__item_dark A look at the details
							.detail__block
								.text-col
									ul
										li.text-col__item
											.text-block
												.text-block__title
													.title
														.title__block Web based
												.text-block__text
													.text
														.text__item.text__item_dark Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
										li.text-col__item
											.text-block
												.text-block__title
													.title
														.title__block Web based
												.text-block__text
													.text
														.text__item.text__item_dark Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
										li.text-col__item
											.text-block
												.text-block__title
													.title
														.title__block Web based
												.text-block__text
													.text
														.text__item.text__item_dark Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
										li.text-col__item
											.text-block
												.text-block__title
													.title
														.title__block Web based
												.text-block__text
													.text
														.text__item.text__item_dark Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			.power
				.power__container.container
					.power__title
						.title More power behind every pixel.

					.power__text
						.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
					.power__link
						a(href="#") See the options
			.onboard
				.onboard__container.container
					.onboard__title
						.title
							.title__item Reasons to get onboard
					.onboard__block
						.text-col
							ul
								li.text-col__item.text-col__item_wider
									.text-block
										.text-block__title
											.title
												.title__block.title__block_white Web based
										.text-block__text
											.text
												.text__item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
								li.text-col__item.text-col__item_wider
									.text-block
										.text-block__title
											.title
												.title__block.title__block_white  Web based
										.text-block__text
											.text
												.text__item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
								li.text-col__item.text-col__item_wider
									.text-block
										.text-block__title
											.title
												.title__block.title__block_white  Web based
										.text-block__text
											.text
												.text__item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

								

			.plan
				.plan__container.container
					.plan-row
						.plan-row__item
							.plan-block
								.plan-block__status
									span.status Legacy
								.plan-block__title
									.title
										.title__item.title__item_dark  Go it solo
								.plan-block__text
									.text
										.text__item.text__item_dark  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
								.plan-block__button
									a.button(href="#") Buy now $9
								.plan-block__oc
									.oc-list
										span.oc-list__item
											a(href="#")
												img(src="img/fa-apple.png", alt="")
										span.oc-list__item
											a(href="")
												img(src="img/fa-windows.png", alt="")
						.plan-row__item
							.plan-block.plan-block_white
								.plan-block__status
									span.status Legacy
								.plan-block__title
									.title
										.title__item.title__item_dark Go it solo
								.plan-block__text
									.text
										.text__item.text__item_dark Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
								.plan-block__button
									a.button(href="#") Buy now $9
								.plan-block__oc
									.oc-list
										span.oc-list__item
											a(href="#")
												img(src="img/fa-apple.png", alt="")
										span.oc-list__item
											a(href="")
												img(src="img/fa-windows.png", alt="")
				

			

				

		include block/footer

	
	